
<div class="grid  md:m-5 lg:m-5 sm:m-2">

    <div class="col-12 md:col-12 ">
        <headertoolbar/>
    </div>

    <div class="col-12 md:col-12 ">
        <!-- <div class="text-center p-3 border-round-sm bg-primary font-bold">col-12 md:col-6 lg:col-3</div> -->
        <portfoliochart/>
    </div>

    <div class="col-12 md:col-6 ">
        <!-- <div class="text-center p-3 border-round-sm bg-primary font-bold">col-12 md:col-6 lg:col-3</div> -->
        <stockstable/>
    </div>
    
    <div class="col-12 md:col-6 ">
        <rateslider/>
        <!-- <div class="text-center p-3 border-round-sm bg-primary font-bold">col-12 md:col-6 lg:col-3</div> -->

    </div>

</div>