<div class="grid  md:m-5 lg:m-5 sm:m-2">
  <div class="col-12 md:col-12 ">
    <header-toolbar/>
  </div>
  <div class="col-12 md:col-12 ">
    <!-- <div class="text-center p-3 border-round-sm bg-primary font-bold">col-12 md:col-6 lg:col-3</div> -->
    <portfolio-chart/>
  </div>
  <div class="col-12 md:col-6 ">
    <!-- <div class="text-center p-3 border-round-sm bg-primary font-bold">col-12 md:col-6 lg:col-3</div> -->
    <stocks-table/>
  </div>
  <div class="col-12 md:col-6 ">
    <rate-slider/>
    <!-- <div class="text-center p-3 border-round-sm bg-primary font-bold">col-12 md:col-6 lg:col-3</div> -->
  </div>
</div>
<p-toast/>
<p-confirmDialog/>
